.Navbar {
  display: flex;
  background-color: #46ACC2;
  padding: 16px;
  font-family: sans-serif;
  /*flex-direction: column;*/
  color: white;
}

.Navbar__Items {
  display:flex;
}

.Navbar__Link {
  padding-right: 8px;
}


.Navbar__Items--right {
  margin-left:auto;
}

.Navbar__Link-toggle{
  display: none;
}

.box1 {
  flex-basis:100%;
  align-self: stretch;
  border: 2px solid #ffa94d;
  border-radius: 5px;
  background-color: #ffd8a8;
  padding: 1em;
  color: #d9480f;
}


@media only screen and (max-width: 768px) {
  .Navbar__Items,
  .Navbar {
    flex-direction: column;
  }
  .Navbar__Items {
    display:none;
  }
  .Navbar__Items--right {
    margin-left: 0;
  }

  .Navbar__Link-toggle {
    align-self: flex-end;
    display: initial;
    position: absolute;
    cursor: pointer;
  }
}
