.column {
  height: 100%;  /*allows both columns to span the full height of the browser window*/
  display: flex;
  flex-direction: column;  /*places the left and right headers above the bottom content*/
}

#left {
  flex-shrink: 0;
  background-color: #4CAF50;/*makes sure that content is not cut off in a smaller browser window*/
}

.top-left {
  flex-shink: 0;
}

.top-right {
  flex-shrink: 0;
  display: inline-flex;
}

ul {
  display: inline-flex;
  list-style: none;
}

.bottom {
  flex-grow: 1;  /*ensures that the container will take up the full height of the parent container*/
  overflow-y: auto;  /*adds scroll to this container*/
}
