<!--<div class="topnav">-->
  <!--&lt;!&ndash;<a href="#home" (click)="clickEvent2('home')" [ngClass]="liststatus['home']?'active':'inactive'">Home</a>&ndash;&gt;-->
  <!--&lt;!&ndash;<a href="#news" (click)="clickEvent2('news')" [ngClass]="liststatus['news']?'active':'inactive'">News</a>&ndash;&gt;-->
  <!--&lt;!&ndash;<a href="#contact" (click)="clickEvent2('contact')" [ngClass]="liststatus['contact']?'active':'inactive'">Contact</a>&ndash;&gt;-->
  <!--&lt;!&ndash;<a href="#about" (click)="clickEvent2('about')" [ngClass]="liststatus['about']?'active':'inactive'">About</a>&ndash;&gt;-->
  <!--<a href="#about"  routerLinkActive="active">About</a>-->
<!--</div>-->
<nav class="navbar">
        <span class="navbar-toggle" id="js-navbar-toggle">
            <i class="fas fa-bars"></i>
        </span>
  <a href="#" class="logo">logo</a>
  <ul class="main-nav" id="js-menu">
    <li>
      <a href="#" class="nav-links">Home</a>
    </li>
    <li>
      <a href="#" class="nav-links">Products</a>
    </li>
    <li>
      <a href="#" class="nav-links">About Us</a>
    </li>
    <li>
      <a href="#" class="nav-links">Contact Us</a>
    </li>
    <li>
      <a href="#" class="nav-links">Blog</a>
    </li>
  </ul>
</nav>
